[Unit]
Description=Vault
Documentation=https://www.vaultproject.io/docs/
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=10

# If you are running Consul, please uncomment following Wants/After configs.
# Assuming your Consul service unit name is "consul"
#Wants=consul.service
#After=consul.service

[Service]
KillMode=process
KillSignal=SIGINT
# DO NOT USE THIS ON PRODUCTION!
# Warning: Never, ever, ever run a "dev" mode server in production. 
# It is insecure and will lose data on every restart (since it stores data in-memory). It is only made for development or experimentation.
Environment=VAULT_DEV_ROOT_TOKEN_ID=changeme
# DO NOT USE THIS ON PRODUCTION!
ExecStart=/usr/local/bin/vault server -config=/etc/vault.d/ -dev -dev-listen-address=0.0.0.0:8200
ExecStartPost=/bin/sleep 10
# DO NOT USE THIS ON PRODUCTION!
ExecStartPost=/usr/local/bin/vault secrets enable -address=http://127.0.0.1:8200 -version=1 kv
ExecStartPost=/usr/local/bin/vault secrets enable -address=http://127.0.0.1:8200 transit
# DO NOT USE THIS ON PRODUCTION!
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=2
StartLimitBurst=3
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
